# Docker
docker/.env
docker/*.env
!docker/.env.example

# Helm
helm/steam-librarian/values-*.yaml
!helm/steam-librarian/values.yaml
helm/steam-librarian/charts/
helm/steam-librarian/*.tgz

# Build artifacts
*.tar
*.tar.gz